{% extends "base/base.html" %}
{% block title%} LISTA DE REGISTROS {% endblock %}
{% block content %}
<h1>REGISTRO DE PAISES </h1>

<table class="table">
    <thead class="table thead-dark"></thead>
    <th>PAIS </th>
    <th>VISITAR </th>
    <th>TRANSPORTE </th>
    <th>IR </th>
    <th></th>  
    <th></th>
    <th></th>
    <th></th>
    </thead>

    {% for homes in object_list %}
    <tr> 
        <td>{{ homes.nombre_Pais }}  </td>
        <td>{{ homes.Visitar }}</td>
        <td> {{ homes.Trasnporte }}</td>
        <td> {{ homes.Visitar }}</td>
        <td><a href="{% url 'home_pais:detail_leads' homes.pk %}"><i class="fas fa-edit" style="color: #FF7F00;">DETALLE </i></a></td>
        <td><a href="{% url 'home_pais:update_leads' homes.pk %}"><i class="fas fa-upload" style="color: #00FF00;">ACTUALIZAR</i></a></td>
        <td><a href="{% url 'home_pais:delete_leads' homes.pk %}"><i class="fas fa-trash"  style="color: #00FFFF;">BORRAR </i></a></td>
        <td><a href="{% url 'home_pais:create_leads'%}"><i class="fas fa-dove fa" style="color: #4F2F4F;"></i></a></td>       
    {% endfor %}
</table>
{% endblock %}