{% extends "base/base.html" %}
{% block title%} LISTA DE REGISTROS {% endblock %}
{% block content %}
<h1>REGISTRO DE ANIMES</h1>
<table class="table">
    <thead class="table thead-dark">
        <th> GENERO  </th>
        <th> NOMBRE  </th>
        <th> PUBLICACION </th>
        <th> TEMPORADA </th>       
        <th></th>  
        <th></th>
        <th></th>
        <th></th>
    </thead>
    {% for homes in object_list %}
    <tr> 
        <td>{{ homes.genero }}  </td>
        <td>{{ homes.nombre }}</td>
        <td> {{ homes.publicacion }}</td>
        <td> {{ homes.temporadas }}</td>
        <td><a href="{% url 'Home_Anime:detail_leads' homes.pk %}"><i class="fas fa-edit" style="color: #FF7F00;">DETALLE </i></a></td>
        <td><a href="{% url 'Home_Anime:update_leads' homes.pk %}"><i class="fas fa-upload" style="color: #00FF00;">ACTUALIZAR</i></a></td>
        <td><a href="{% url 'Home_Anime:delete_leads' homes.pk %}"><i class="fas fa-trash"  style="color: #00FFFF;">BORRAR </i></a></td>
        <td><a href="{% url 'Home_Anime:create_leads'%}"><i class="fas fa-dove fa" style="color: #4F2F4F;"></i></a></td>       
    </tr>
    {% endfor %}
</table>
{% endblock %}