{% extends "base/base.html" %}
{% block title%} LISTA DE REGISTROS {% endblock %}
{% block content %}
<h1>REGISTRO DE PELICULAS</h1>
<table class="table">
    <thead class="table thead-dark">
        <th> NOMBRE  </th>
        <th> GENERO  </th>
        <th> ESTRENO </th>
        <th> VALORACION </th>       
        <th></th>  
        <th></th>
        <th></th>
        <th></th>
    </thead>
    {% for homes in object_list %}
    <tr> 
        <td>{{ homes.nombre }}  </td>   
        <td> {{ homes.Genero }}</td>
        <td> {{ homes.Estreno }}</td>
        <td>{{ homes.Comentario}}</td>
        <td><a href="{% url 'home_peliculas:detail_leads' homes.pk %}"><i class="fas fa-edit" style="color: #FF7F00;">DETALLE </i></a></td>
        <td><a href="{% url 'home_peliculas:update_leads' homes.pk %}"><i class="fas fa-upload" style="color: #00FF00;">ACTUALIZAR</i></a></td>
        <td><a href="{% url 'home_peliculas:delete_leads' homes.pk %}"><i class="fas fa-trash"  style="color: #00FFFF;">BORRAR </i></a></td>
        <td><a href="{% url 'home_peliculas:create_leads'%}"><i class="fas fa-dove fa" style="color: #4F2F4F;"></i></a></td>       v
    </tr>
    {% endfor %}
</table>
{% endblock %}