{% extends "base/base.html" %}
{% block title%} LISTA DE REGISTROS {% endblock %}
{% block content %}
<h1>REGISTRO DE PAISAJES </h1>
<table class="table">
    <thead class="table thead-dark"></thead>
    <th> PAISAJE  </th>
    <th> LUGAR </th>
    <th> TURISMO </th>
    <th> ARTIFICIAL/NATURAL </th>
    <th></th>  
    <th></th>
    <th></th>
    <th></th>
    </thead>

    {% for homes in object_list %}
    <tr> 
        <td>{{ homes.nombre }}  </td>
        <td>{{ homes.Lugar }}</td>
        <td> {{ homes.turismo }}</td>
        <td> {{ homes.artifical_natural }}</td>
        <td><a href="{% url 'home_paisaje:detail_leads' homes.pk %}"><i class="fas fa-edit" style="color: #FF7F00;">DETALLE </i></a></td>
        <td><a href="{% url 'home_paisaje:update_leads' homes.pk %}"><i class="fas fa-upload" style="color: #00FF00;">ACTUALIZAR</i></a></td>
        <td><a href="{% url 'home_paisaje:delete_leads' homes.pk %}"><i class="fas fa-trash"  style="color: #00FFFF;">BORRAR </i></a></td>
        <td><a href="{% url 'home_paisaje:create_leads'%}"><i class="fas fa-dove fa" style="color: #4F2F4F;"></i></a></td>       
    </tr>
    {% endfor %}
</table>
{% endblock %}