{% extends "base/base.html" %}
{% block title%} LISTA DE REGISTROS {% endblock %}
{% block content %}
<table class="table">
    <th> Nombre: </th>
    <th> Edad  : </th>
    <th> Corre : </th>
    <th> Mundo : </th>
    {% for homes in object_list %}
    <tr>
        <td> {{homes.nombre }}  </td>
        <td> {{homes.edad }}</td>
        <td> {{ homes.correo }}</td>
        <td> {{homes.nacionalidad }}</td>
        <td><a href="{% url 'home:detail_leads' lead.pk %}">
            <i class="fas fa-edit" style="color: #70DB93;">DETALLE </i></a></td>
        <td><a href="{% url 'home:update_leads' lead.pk %}">
            <i class="fas fa-upload" style="color: #000000;">ACTUALIZAR</i></a></td>
        <td><a href="{% url 'home:delete_leads' lead.pk %}">
            <i class="fas fa-trash"  style="color: #00FFFF;">BORRAR </i></a></td>
        <td><a href="{% url 'home:create_leads'%}">
            <i class="fas fa-dove fa" style="color: #FF7F00;"></i></a></td>         
    </tr>
    {% endfor %}
</table>
{% endblock %}