{% extends "base/base.html" %}
{% block title %} LISTA DE REGISTROS {% endblock %}
{% block content %}
<h1>REGISTRO DE BEBIDAS</h1>
<table class="table">
    <thead class="table thead-dark">
        <th> MARCA  </th>
        <th> PRECIO  </th>
        <th> TIENDA </th>
        <th> VENCE </th>       
        <th></th>  
        <th></th>
        <th></th>
        <th></th>
    </thead>
    {% for homes in object_list %}
    <tr> 
        <td>{{ homes.marca }}  </td>
        <td>{{ homes.precio }}</td>
        <td> {{ homes.tienda }}</td>
        <td> {{ homes.Vence }}</td>
        <td><a href="{% url 'home_bebidas:detail_leads' homes.pk %}"><i class="fas fa-edit" style="color: #FF7F00;">DETALLE </i></a></td>
        <td><a href="{% url 'home_bebidas:update_leads' homes.pk %}"><i class="fas fa-upload" style="color: #00FF00;">ACTUALIZAR</i></a></td>
        <td><a href="{% url 'home_bebidas:delete_leads' homes.pk %}"><i class="fas fa-trash"  style="color: #00FFFF;">BORRAR </i></a></td>
        <td><a href="{% url 'home_bebidas:create_leads'%}"><i class="fas fa-dove fa" style="color: #4F2F4F;"></i></a></td>       
    </tr>
    {% endfor %}
</table>
{% endblock %}